:root {
  --vamtam-site-max-width: 1260px;
  --vamtam-body-background-background-image: none;
  --vamtam-body-background-background-color: #ffffff;
  --vamtam-body-background-background-repeat: no-repeat;
  --vamtam-body-background-background-attachment: scroll;
  --vamtam-body-background-background-size: cover;
  --vamtam-body-background-background-position: center center;
  --vamtam-accent-color-1: #0b3d24;
  --vamtam-accent-color-2: #5c6476;
  --vamtam-accent-color-3: #0f151f;
  --vamtam-accent-color-4: #cad1d6;
  --vamtam-accent-color-5: #ffffff;
  --vamtam-accent-color-6: #000000;
  --vamtam-accent-color-7: #8b8b8b;
  --vamtam-accent-color-8: #ffffff;
  --vamtam-accent-color-1-hc: #ffffff;
  --vamtam-accent-color-7-hc: #000000;
  --vamtam-accent-color-8-hc: #424242;
  --vamtam-accent-color-5-hc: #2d2d2d;
  --vamtam-accent-color-3-hc: #ffffff;
  --vamtam-accent-color-6-hc: #ffffff;
  --vamtam-accent-color-2-hc: #ffffff;
  --vamtam-h1-font-family: 'Frank Ruhl Libre';
  --vamtam-h1-font-size: 46px;
  --vamtam-h1-font-weight: normal;
  --vamtam-h1-font-style: normal;
  --vamtam-h1-line-height: 1.1;
  --vamtam-h1-color: #000000;
  --vamtam-h1-letter-spacing: normal;
  --vamtam-h2-font-family: 'Frank Ruhl Libre';
  --vamtam-h2-font-size: 36px;
  --vamtam-h2-font-weight: normal;
  --vamtam-h2-font-style: normal;
  --vamtam-h2-line-height: 1.2;
  --vamtam-h2-color: #000000;
  --vamtam-h2-letter-spacing: normal;
  --vamtam-h3-font-family: 'Frank Ruhl Libre';
  --vamtam-h3-font-size: 28px;
  --vamtam-h3-font-weight: normal;
  --vamtam-h3-font-style: normal;
  --vamtam-h3-line-height: 1.3;
  --vamtam-h3-color: #000000;
  --vamtam-h3-letter-spacing: normal;
  --vamtam-h4-font-family: 'Frank Ruhl Libre';
  --vamtam-h4-font-size: 20px;
  --vamtam-h4-font-weight: normal;
  --vamtam-h4-font-style: normal;
  --vamtam-h4-line-height: 1.3;
  --vamtam-h4-color: #0a0707;
  --vamtam-h4-letter-spacing: normal;
  --vamtam-h5-font-family: 'Rubik';
  --vamtam-h5-font-size: 16px;
  --vamtam-h5-font-weight: normal;
  --vamtam-h5-font-style: normal;
  --vamtam-h5-line-height: 1.2;
  --vamtam-h5-color: #1b1d24;
  --vamtam-h5-letter-spacing: normal;
  --vamtam-h6-font-family: 'Rubik';
  --vamtam-h6-font-size: 12px;
  --vamtam-h6-font-weight: normal;
  --vamtam-h6-font-style: normal;
  --vamtam-h6-line-height: 1.2;
  --vamtam-h6-color: #000000;
  --vamtam-h6-letter-spacing: normal;
  --vamtam-em-font-family: 'Rubik';
  --vamtam-em-font-size: 14px;
  --vamtam-em-font-weight: normal;
  --vamtam-em-font-style: normal;
  --vamtam-em-line-height: 1.5;
  --vamtam-em-color: #363940;
  --vamtam-em-letter-spacing: normal;
  --vamtam-additional-font-1-font-family: 'Frank Ruhl Libre';
  --vamtam-additional-font-1-font-size: 70px;
  --vamtam-additional-font-1-font-weight: normal;
  --vamtam-additional-font-1-font-style: normal;
  --vamtam-additional-font-1-line-height: 1.05;
  --vamtam-additional-font-1-color: #000000;
  --vamtam-additional-font-1-letter-spacing: normal;
  --vamtam-additional-font-2-font-family: 'Frank Ruhl Libre';
  --vamtam-additional-font-2-font-size: 68px;
  --vamtam-additional-font-2-font-weight: bold;
  --vamtam-additional-font-2-font-style: normal;
  --vamtam-additional-font-2-line-height: 0.8;
  --vamtam-additional-font-2-color: #000000;
  --vamtam-additional-font-2-letter-spacing: normal;
  --vamtam-header-height: 70px;
  --vamtam-header-background-background-image: none;
  --vamtam-header-background-background-color: #ffffff;
  --vamtam-header-background-background-repeat: no-repeat;
  --vamtam-header-background-background-attachment: scroll;
  --vamtam-header-background-background-size: contain;
  --vamtam-header-background-background-position: left top;
  --vamtam-sub-header-background-background-image: none;
  --vamtam-sub-header-background-background-color: #ffffff;
  --vamtam-sub-header-background-background-repeat: no-repeat;
  --vamtam-sub-header-background-background-attachment: fixed;
  --vamtam-sub-header-background-background-size: auto;
  --vamtam-sub-header-background-background-position: left top;
  --vamtam-page-title-background-background-image: none;
  --vamtam-page-title-background-background-color: ;
  --vamtam-page-title-background-background-repeat: repeat;
  --vamtam-page-title-background-background-attachment: fixed;
  --vamtam-page-title-background-background-size: auto;
  --vamtam-page-title-background-background-position: left top;
  --vamtam-logo-font-family: 'Source Serif Pro';
  --vamtam-logo-font-size: 72px;
  --vamtam-logo-font-weight: bold;
  --vamtam-logo-font-style: normal;
  --vamtam-logo-line-height: 1;
  --vamtam-logo-color: #1b1d24;
  --vamtam-main-menu-text-sticky-color: #ffffff;
  --vamtam-left-sidebar-width: 30%;
  --vamtam-right-sidebar-width: 30%;
  --vamtam-main-background-background-image: none;
  --vamtam-main-background-background-color: #ffffff;
  --vamtam-main-background-background-repeat: repeat;
  --vamtam-main-background-background-attachment: scroll;
  --vamtam-main-background-background-size: auto;
  --vamtam-main-background-background-position: left top;
  --vamtam-primary-font-1: 2;
  --vamtam-primary-font-3: 2;
  --vamtam-primary-font-5: 2;
  --vamtam-primary-font-font-family: 'Rubik';
  --vamtam-primary-font-font-size: 14px;
  --vamtam-primary-font-font-weight: normal;
  --vamtam-primary-font-font-style: normal;
  --vamtam-primary-font-line-height: 1.6;
  --vamtam-primary-font-color: #474b56;
  --vamtam-primary-font-letter-spacing: normal;
  --vamtam-body-link-regular: #0b3d24;
  --vamtam-body-link-hover: #0c0505;
  --vamtam-body-link-visited: #0b3d24;
  --vamtam-body-link-active: #0c0505;
  --vamtam-footer-sidebars-titles-font-family: 'Frank Ruhl Libre';
  --vamtam-footer-sidebars-titles-font-size: 20px;
  --vamtam-footer-sidebars-titles-font-weight: 500;
  --vamtam-footer-sidebars-titles-font-style: normal;
  --vamtam-footer-sidebars-titles-line-height: 1.3;
  --vamtam-footer-sidebars-titles-color: #ffffff;
  --vamtam-footer-sidebars-titles-letter-spacing: normal;
  --vamtam-mobile-top-bar-resolution: 1200px;
  --vamtam-beaver-global-row_margins: 0px;
  --vamtam-beaver-global-row_margins_unit: px;
  --vamtam-beaver-global-row_margins_medium_unit: px;
  --vamtam-beaver-global-row_margins_responsive_unit: px;
  --vamtam-beaver-global-row_padding: 20px;
  --vamtam-beaver-global-row_padding_unit: px;
  --vamtam-beaver-global-row_padding_medium_unit: px;
  --vamtam-beaver-global-row_padding_responsive: 10px;
  --vamtam-beaver-global-row_padding_responsive_unit: px;
  --vamtam-beaver-global-row_content_width_default: fixed;
  --vamtam-beaver-global-column_margins: 0px;
  --vamtam-beaver-global-column_margins_unit: px;
  --vamtam-beaver-global-column_margins_medium_unit: px;
  --vamtam-beaver-global-column_margins_responsive_unit: px;
  --vamtam-beaver-global-column_padding: 0px;
  --vamtam-beaver-global-column_padding_unit: px;
  --vamtam-beaver-global-column_padding_medium_unit: px;
  --vamtam-beaver-global-column_padding_responsive_unit: px;
  --vamtam-beaver-global-module_margins: 10px;
  --vamtam-beaver-global-module_margins_unit: px;
  --vamtam-beaver-global-module_margins_medium_unit: px;
  --vamtam-beaver-global-module_margins_responsive_unit: px;
  --vamtam-beaver-global-responsive_enabled: 1;
  --vamtam-beaver-global-auto_spacing: 1;
  --vamtam-beaver-global-medium_breakpoint: 1200;
  --vamtam-beaver-global-responsive_breakpoint: 760;
  --vamtam-beaver-global-responsive_col_max_width: 1px;
  --vamtam-beaver-global-responsive_base_fontsize: 16px;
  --vamtam-beaver-global-row_width: 1280px;
  --vamtam-beaver-global-row_width_unit: px;
  --vamtam-beaver-global-show_default_heading: ;
  --vamtam-default-bg-color: #ffffff;
  --vamtam-default-line-color: rgba(139, 139, 139, 0.3);
  --vamtam-small-padding: 20px;
  --vamtam-horizontal-padding: 50px;
  --vamtam-vertical-padding: 30px;
  --vamtam-horizontal-padding-large: 60px;
  --vamtam-vertical-padding-large: 60px;
  --vamtam-no-border-link: none;
  --vamtam-border-radius: 0px;
  --vamtam-border-radius-oval: 0px;
  --vamtam-border-radius-small: 0px;
  --vamtam-overlay-color: black;
  --vamtam-overlay-color-hc: #ffffff;
  --vamtam-box-outer-padding: 60px;
  --vamtam-loading-animation: url('https://gast.vamtam.com/wp-content/themes/gast/vamtam/assets/images/loader-ring.gif');
  --vamtam-accent-color-1-rgb: 11, 61, 36;
  --vamtam-accent-color-2-rgb: 92, 100, 118;
  --vamtam-accent-color-3-rgb: 15, 21, 31;
  --vamtam-accent-color-4-rgb: 202, 209, 214;
  --vamtam-accent-color-5-rgb: 255, 255, 255;
  --vamtam-accent-color-6-rgb: 0, 0, 0;
  --vamtam-accent-color-7-rgb: 139, 139, 139;
  --vamtam-accent-color-8-rgb: 255, 255, 255;
}

.page-header {
  padding: 0;
  margin: 0;
  border-bottom: 0;
}

.item-hover {
  top: 0;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
  scale: 1;
  width: 100%;
  margin-bottom: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.item-box {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  border: 0;
  border: none;
  background: 0 0;
  background-clip: content-box;
  text-align: left;
}

.item-box-details {
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  position: absolute;
  color: var(--vamtam-accent-color-5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  z-index: 10;
}

.item-box-details a {
  height: 100%;
  z-index: 5;
  align-content: center;
  display: flex;
  flex-direction: row;
  border: none;
  align-items: center;
}

.item-text-wrapper {
  width: 100%;
  z-index: 2;
  align-content: center;
}

.item-title {
  transition: opacity .4s, transform .4s, .4s;
  transform: translate(0, 30px);
  padding: 0 5%;
  opacity: 0;
  margin-top: 0;
  margin-bottom: .2em;
  font-size: var(--vamtam-h2-font-size);
  line-height: var(--vamtam-h2-font-size);
  font-weight: 500;
  color: var(--vamtam-accent-color-4);
  display: inline-block;
  width: 100%;
  flex: 1;
}

.item-title:hover {
  color: var(--vamtam-accent-color-5);
}

.item-excerpt {
  padding: 0 10%;
  transition: opacity .5s, transform .5s;
  transform: translate(0, 20px) scale(.9);
  opacity: 0;
  color: var(--vamtam-accent-color-5);
  line-height: 1.2em;
  margin: auto;
  display: inline-block;
  flex: 1;
}

.item-link-read-more {
  margin-top: 10px;
  font: var(--vamtam-h5-font-weight) var(--vamtam-h5-font-style) var(--vamtam-h5-font-size)/var(--vamtam-h5-line-height) var(--vamtam-h5-font-family);
  letter-spacing: var(--vamtam-h5-letter-spacing, normal);
  font-size: var(--vamtam-primary-font-font-size);
  display: none;
}

.item-image {
  max-height: none !important;
  background: var(--vamtam-accent-color-6);
  position: relative;
  overflow: hidden;
  flex: 1;
  order: 2;
  transition: background-color .3s ease-out;
}

.item-image>a {
  position: relative;
  display: block;
  border: none;
}

.single-img-box {
  opacity: 1;
  position: relative;
  width: 100%;
  transition: opacity .2s ease-out;
}

.single-img {
  width: 100% !important;
  transition: opacity .5s, transform 1.2s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: scale(1.01);
  border: none;
  display: block !important;
  height: 100%;
}

.item-hover:hover .item-box {
  background: var(--vamtam-default-bg-color);
}

.item-hover:hover .item-box-details {
  transform: scale(1)
}

.item-hover:hover .item-title {
  transform: translate(0, 0);
  opacity: 1;
}

.item-hover:hover .item-excerpt {
  transform: translate(0, 0);
  opacity: 1;
}

.item-hover:hover .single-img {
  opacity: .4;
  transform: scale(1.1);
}

.load-more {
  margin-top: 0;
}

@media (max-width: 1200px) {
  .item-box-details {
    height: auto;
    position: relative;
    text-align: left;
    padding: 20px;
    background: var(--vamtam-default-bg-color);
    transform-style: preserve-3d;
    width: 100%;
    color: var(--vamtam-accent-color-5);
    backface-visibility: hidden;
    z-index: 10;
  }

  .item-box-details a {
    display: block;
  }

  .item-title {
    font-size: 1.2em;
    line-height: 1.2em;
    color: var(--vamtam-body-link-regular) !important;
    height: auto;
    opacity: 1;
    bottom: 0;
    width: 100%;
    transform: none;
    padding-left: 0;
    margin: 0 0 10px;
  }

  .item-excerpt {
    opacity: 1;
    transform: none;
    padding: 0;
    color: var(--vamtam-primary-font-color);
  }

  .item-link-read-more {
    margin-top: 10px;
    font: var(--vamtam-h5-font-weight) var(--vamtam-h5-font-style) var(--vamtam-h5-font-size)/var(--vamtam-h5-line-height) var(--vamtam-h5-font-family);
    letter-spacing: var(--vamtam-h5-letter-spacing, normal);
    font-size: var(--vamtam-primary-font-font-size);
    display: none !important;
  }
}




/* has-btn */

.has-btn {
  border-radius: 0;
  box-shadow: none;
  padding: 14px 45px;
  border: 2px solid;
  background: 0 0;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 0;
  vertical-align: middle;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  text-decoration: none;
  text-shadow: none;
  -webkit-font-smoothing: auto;
  transition: color .3s ease-out,
    border .3s ease-out,
    background .3s ease-out,
    box-shadow .3s ease-out !important;
  font: 400 calc(var(--vamtam-primary-font-font-size) - 1px)/1em var(--vamtam-primary-font-font-family);
  letter-spacing: .1em;
}

.has-btn{
  transition: .4s;
}

.has-btn:hover{
  border-color: var(--vamtam-accent-color-1);
  background: var(--vamtam-accent-color-1);
  color: var(--vamtam-accent-color-1-hc);
  text-decoration: none;
}