.fl-builder-row-settings .fl-field-responsive-setting input[name=bg_position_custom_right],
.fl-builder-row-settings .fl-field-responsive-setting input[name=bg_position_custom_left] {
  display: none !important
}

.fl-node-5be8c78f3bb6c .fl-bg-video-audio {
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  width: 20px
}

.fl-node-5be8c78f3bb6c .fl-bg-video-audio .fl-audio-control {
  font-size: 20px
}

.fl-node-5be8c78f3bb6c .fl-bg-video-audio .fa-times {
  font-size: 10px;
  vertical-align: middle;
  position: absolute;
  top: 5px;
  left: 11px;
  bottom: 0
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5be8c78f3bb6c>.fl-row-content-wrap {
  padding-bottom: 40px
}

@media(max-width:760px) {
  .fl-node-5be8c78f3bb6c.fl-row>.fl-row-content-wrap {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0
  }
}

.fl-node-5be8c78f3b71f {
  width: 100%
}

@media(max-width:1200px) {
  .fl-builder-content .fl-node-5be8c78f3b71f {
    width: 100% !important;
    max-width: none;
    -webkit-box-flex: 0 1 auto;
    -moz-box-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto
  }
}

@media(max-width:760px) {
  .fl-builder-content .fl-node-5be8c78f3b71f {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left
  }
}

.fl-node-5be8c78f3b71f>.fl-col-content {
  margin-right: 0;
  margin-left: 0
}

.fl-node-5be8c78f3b71f>.fl-col-content {
  padding-right: 0;
  padding-left: 0
}

.fl-node-5be8c78f3b808 {
  width: 25%
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5be8c78f3b808>.fl-col-content {
  margin-right: 10px;
  margin-left: 0
}

.fl-node-5be8c78f3b808>.fl-col-content {
  padding-right: 20px;
  padding-bottom: 20px
}

.fl-node-5be8c78f3b842 {
  width: 25%
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5be8c78f3b842>.fl-col-content {
  margin-right: 0;
  margin-left: 0
}

.fl-node-5be8c78f3b842>.fl-col-content {
  padding-bottom: 20px
}

.fl-node-5be8c78f3b794 {
  width: 25%
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5be8c78f3b794>.fl-col-content {
  margin-right: 0;
  margin-left: 0
}

.fl-node-5be8c78f3b794>.fl-col-content {
  padding-bottom: 20px
}

.fl-node-5be8c78f3b7ce {
  width: 25%
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5be8c78f3b7ce>.fl-col-content {
  margin-right: 0;
  margin-left: 0
}

.fl-node-5be8c78f3b7ce>.fl-col-content {
  padding-bottom: 20px
}

.fl-node-5be8c78f3b9d8.fl-module-vamtam-heading .vamtam-heading {
  text-align: left;
  justify-content: flex-start
}

.fl-node-5be8c78f3b9d8.fl-module-vamtam-heading .vamtam-heading-line-left {
  display: none
}

.fl-node-5be8c78f3b9d8 .vamtam-heading .vamtam-heading-text {}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5be8c78f3ba4b .fl-separator {
  border-top: 1px solid;
  margin: auto
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5be8c78f3ba84 .fl-rich-text strong {
  font-weight: 700
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

img.mfp-img {
  padding-bottom: 40px !important
}

@media(max-width:760px) {
  .fl-photo-content {
    width: 100%
  }
}

.fl-node-5be8c78f3babf .fl-photo {
  text-align: center
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5be8c78f3babf>.fl-module-content {
  margin-top: 0
}

.fl-node-5be8c78f3baf8.fl-module-vamtam-heading .vamtam-heading {
  text-align: left;
  justify-content: flex-start
}

.fl-node-5be8c78f3baf8.fl-module-vamtam-heading .vamtam-heading-line-left {
  display: none
}

.fl-node-5be8c78f3baf8 .vamtam-heading .vamtam-heading-text {}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5be8c78f3baf8>.fl-module-content {
  margin-bottom: 0
}

.fl-node-5be8c78f3bb32.fl-module-vamtam-heading .vamtam-heading {
  text-align: left;
  justify-content: flex-start
}

.fl-node-5be8c78f3bb32 h6.vamtam-heading * {
  color: var(--vamtam-accent-color-1) !important
}

.fl-node-5be8c78f3bb32.fl-module-vamtam-heading .vamtam-heading-line-left {
  display: none
}

.fl-node-5be8c78f3bb32 .vamtam-heading .vamtam-heading-text {}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5be8c78f3b87b .fl-photo {
  text-align: center
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5be8c78f3b87b>.fl-module-content {
  margin-top: 0
}

.fl-node-5be8c78f3b8b6.fl-module-vamtam-heading .vamtam-heading {
  text-align: left;
  justify-content: flex-start
}

.fl-node-5be8c78f3b8b6.fl-module-vamtam-heading .vamtam-heading-line-left {
  display: none
}

.fl-node-5be8c78f3b8b6 .vamtam-heading .vamtam-heading-text {}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5be8c78f3b8b6>.fl-module-content {
  margin-bottom: 0
}

.fl-node-5be8c78f3b8f1.fl-module-vamtam-heading .vamtam-heading {
  text-align: left;
  justify-content: flex-start
}

.fl-node-5be8c78f3b8f1 h6.vamtam-heading * {
  color: var(--vamtam-accent-color-1) !important
}

.fl-node-5be8c78f3b8f1.fl-module-vamtam-heading .vamtam-heading-line-left {
  display: none
}

.fl-node-5be8c78f3b8f1 .vamtam-heading .vamtam-heading-text {}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5be8c78f3b92b .fl-photo {
  text-align: center
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5be8c78f3b92b>.fl-module-content {
  margin-top: 0
}

.fl-node-5be8c78f3b965.fl-module-vamtam-heading .vamtam-heading {
  text-align: left;
  justify-content: flex-start
}

.fl-node-5be8c78f3b965.fl-module-vamtam-heading .vamtam-heading-line-left {
  display: none
}

.fl-node-5be8c78f3b965 .vamtam-heading .vamtam-heading-text {}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5be8c78f3b965>.fl-module-content {
  margin-bottom: 0
}

.fl-node-5be8c78f3b99f.fl-module-vamtam-heading .vamtam-heading {
  text-align: left;
  justify-content: flex-start
}

.fl-node-5be8c78f3b99f h6.vamtam-heading * {
  color: var(--vamtam-accent-color-1) !important
}

.fl-node-5be8c78f3b99f.fl-module-vamtam-heading .vamtam-heading-line-left {
  display: none
}

.fl-node-5be8c78f3b99f .vamtam-heading .vamtam-heading-text {}

@media(max-width:1200px) {}

@media(max-width:760px) {}