.fl-builder-row-settings .fl-field-responsive-setting input[name=bg_position_custom_right],
.fl-builder-row-settings .fl-field-responsive-setting input[name=bg_position_custom_left] {
  display: none !important
}

.fl-node-5d060daf6bd50 .fl-bg-video-audio {
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  width: 20px
}

.fl-node-5d060daf6bd50 .fl-bg-video-audio .fl-audio-control {
  font-size: 20px
}

.fl-node-5d060daf6bd50 .fl-bg-video-audio .fa-times {
  font-size: 10px;
  vertical-align: middle;
  position: absolute;
  top: 5px;
  left: 11px;
  bottom: 0
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5d060daf6bd50>.fl-row-content-wrap {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}

.fl-node-5d060daf6c780 {
  width: 100%
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5dd1e7cfc60b4>.fl-module-content {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0
}